{{#> layout headerTitle="ACTIVITEIT UPDATE"}}
    <div class="status-badge info">Activiteit Update</div>
    <p>Beste {{firstName}},</p>

    <p>Dit is een bericht over de activiteit: <strong>{{eventName}}</strong>.</p>

    <div style="white-space: pre-wrap; margin-top: 15px; margin-bottom: 25px; line-height: 1.6;">{{message}}</div>

    <p>Heb je vragen? Stuur dan gerust een mailtje naar de organisatie via <a href="mailto:{{#if organizerEmail}}{{organizerEmail}}{{else}}info@salvemundi.nl{{/if}}">{{#if organizerEmail}}{{organizerEmail}}{{else}}info@salvemundi.nl{{/if}}</a>.</p>

    <p>Met vriendelijke groet,<br><br>
    <strong>Salve Mundi</strong><br>
    Rachelsmolen 1<br>
    5612 MA Eindhoven</p>
{{/layout}}
